<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">


    <!-- Shaka Player ui compiled library: -->
    {# <script src="../../node_modules/shaka-player/dist/shaka-player.ui.js"></script> #}
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/dash-shaka-playback@2.2.1/dist/dash-shaka-playback.min.js"></script> -->
    {# <script defer src="node_modules/mux.js/dist/mux.js"></script> #}
    <!-- Shaka Player ui compiled library default CSS: -->
    {# <link rel="stylesheet" type="text/css" href="../../node_modules/shaka-player/dist/controls.css"> #}


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/main.css" %}
    {# {% include "assets/main.css" %} #}
    {# {% include "assets/css/browse.css" %} #}
  {% endset %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" integrity="sha256-t2kyTgkh+fZJYRET5l9Sjrrl4UDain5jxdbqe8ejO8A=" crossorigin="anonymous" />
  <style>{{ css | cssmin | safe }}</style>

  {# {% set js %} #}
    {# {% include "assets/main.js" %} #}
  {# {% endset %} #}
  {# <script>{{ js | jsmin | safe }}</script> #}

  {# {% include "components/webpack.njk" %} #}

</head>
