<nav class="nav-links d-flex flex-center flex-middle">
  <a href="/">
      <h2 class="logo logo-text red-color f-s-28 m-r-25">NETFLIX</h2>
      <h2 class="second-logo-text red-color f-s-28">N</h2>
  </a>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
