<div class="righticons d-flex flex-end flex-middle">
{# 
            <a href="search.html">
                <img src="../../static/img/search.svg" alt="search icon">
            </a> #}

            <form class="search-form" action="search.html">
                <label class="search-icon" for="search"></label>
                <input id="search" class="search-input" type="text"
                    placeholder="Titles, people, genres" autocomplete="off">
                {# <img src="../../static/img/search.svg" alt="search icon"> #}
            </form>

            <div class="dropdown notification">
                <img src="../../static/img/notification.svg" alt="notificatio icon">
                <div class="dropdown-content">
                    <a href="#" class="profile-item d-flex flex-middle">
                        <img src="../../../static/img/user2.png" alt="user profile icon" class="user-icon">
                        <span>You have new notification from <span>User 123</span></span>
                    </a>
                    <a href="#" class="profile-item d-flex flex-middle">
                        <img src="../../../static/img/user1.png" alt="user profile icon" class="user-icon">
                        <span>You have new notification from <span>User 123</span></span>
                    </a>
                    <a href="#" class="profile-item d-flex flex-middle">
                        <img src="../../../static/img/user4.png" alt="user profile icon" class="user-icon">
                        <span>You have new notification from <span>User 123</span></span>
                    </a>
                    <a href="#" class="profile-item d-flex flex-middle">
                        <img src="../../../static/img/user3.png" alt="user profile icon" class="user-icon">
                        <span>You have new notification from <span>User 123</span></span>
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <img src="../../static/img/user-image-green.png" alt="user profile icon" class="user-icon"> <span class="profile-arrow"></span>

                <div class="dropdown-content">
                    <div class="profile-links">
                        <a href="#" class="profile-item d-flex flex-middle">
                            <img src="../../static/img/user1.png" alt="user profile icon" class="user-icon">
                            <span>Rajesh</span>
                        </a>
                        <a href="#" class="profile-item d-flex flex-middle">
                            <img src="../../static/img/user2.png" alt="user profile icon" class="user-icon">
                            <span>Karan</span>
                        </a>
                        <a href="#" class="profile-item d-flex flex-middle">
                            <img src="../../static/img/user3.png" alt="user profile icon" class="user-icon">
                            <span>Pappy</span>
                        </a>
                        <a href="#" class="profile-item d-flex flex-middle" style="margin-bottom: 13px;">
                            <img src="../../static/img/user4.png" alt="user profile icon" class="user-icon">
                            <span>Denny</span>
                        </a>
                        <a href="#" class="profile-item last" >Manage Profiles</a>
                    </div>
                    <div class="line"></div>
                    <div class="links d-flex direction-column">
                        <a href="user-profile/home.html">Account</a>
                        <a href="#">Help Center</a>
                        <a href="/">Sign Out of Netflix</a>
                    </div>
                    
                </div>
            </div>
            
        </div>