<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="es">

	{% include "components/head.njk" %}

	<body>

		<header class="d-flex space-between flex-center flex-middle">
			{# <em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em> #}
			{% include "components/nav.njk" %}
			
			{% include "components/navicons.njk" %}
		</header>

		<main id="mainContainer" class="p-b-40">
			
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
